*{
    scrollbar-width: thin;
    font-family: 'Inter', sans-serif;
}

/* Truncate the title */
.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container-button{
    position: relative;
}

.dark-btn{
    border-radius: 20pxf;
    position: absolute;
    top: 20px;
    right: 50px;
}

.dark-mode{
    background-color: #314158;
}

.white-text{
    color: #FFFF
}
